body {
    width: 100%;
    height: 100%;
    background-color: red;
    margin: 0px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.flexitem {
    width: 10%;
    height: 60px;
}

#title {
    width: 100%;
    font-family: 'Raleway';
    font-size: 100px;
    font-weight: bolder;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}



#title img {
    height: 200px;
}

#navigation {
    position: sticky;
    top: 0px;
    align-self: baseline;
}

#flex2 {
    background-color: white;
    width: 525px;
    height: 742.5px;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    margin: 50px;
}

#page {
    resize: none;
    width: 100%;
    height: 100%;
    border: 1px;
    font-family: 'Raleway';
    font-size: 16px;
    background: transparent;
    z-index: 2;
    background-image: url(images/cropped.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;

}

nav a {
    text-decoration: none;
    font-family: 'Oswald';
    font-size: xx-large;
    color: orangered;
    padding-inline-start: 10px;
}

nav a:hover {
    color: orange;
}

nav {
    background-color: rgb(20, 40, 70);
    overflow: hidden;
    width: 100% !important;
    height: fit-content !important;
    padding: 5px;
}

#print {
    width: 60px;
    height: 20px;
    align-self: center;
    justify-self: center;
    margin-bottom: 30px;
    z-index: 3;
}